[submodule "Kami"]
	path = Kami
	url = https://github.com/sifive/Kami
[submodule "ProcKami"]
	path = ProcKami
	url = https://github.com/sifive/ProcKami
[submodule "FpuKami"]
	path = FpuKami
	url = https://github.com/sifive/FpuKami
[submodule "coq-record-update"]
	path = coq-record-update
	url = https://github.com/tchajed/coq-record-update
[submodule "StdLibKami"]
	path = StdLibKami
	url = https://github.com/sifive/StdLibKami.git
